.wrapper_chart {
    @apply my-4 bg-system-dark_02 p-6;

    .title {
        @apply flex justify-between;
    }
    

    // 圖表裡的 switch，顏色示意

    ul.legends {
        @apply flex-col;
    }

    ul.switch_chart,
    ul.legends {
        @apply flex text-sm;

        li {
            @apply mr-2 cursor-pointer;
        }

        li:last-child {
            @apply mr-0;
        }

        li.true {
            @apply text-primary-main;
        }
    
        li.false {
            @apply text-system-dark_04;
        }

        li.legend_item {
            @apply flex my-1 items-center text-system-light_01 font-medium text-sm cursor-default;

            .icon {
                @apply relative mr-2 p-0;

                background-color: #fff;
                height: 10px;
                width: 10px;
            }
        }
    }

    .info {
        @apply flex items-center justify-between w-full h-auto;
    
    
        .data {
            .true {
                @apply text-primary-main cursor-pointer;
            }
    
            .false {
                @apply text-system-dark_04 cursor-pointer;
            }
        }
    
        .chart {
            // bottom: 10px;
            height: 120px;
            position: relative;
            // right: -5px;
            width: 120px;
        }

        .barBase {
            // height: 250px;
            // position: relative;
            // width: 300px;

            // canvas {
            //     bottom: 0;
            //     left: 10px;
            //     right: 0;
            //     top: 0;
            //     width: 200px;
            // }
        }

    }
}

.container_bar {
    @apply flex flex-col justify-evenly;

    height: calc(100% - 48px);
}

.bar_item {
    @apply flex items-center;

    .bar_info {
        @apply flex-none  flex items-center;

        *:first-child {
            @apply mr-1;
        }

        *:last-child {
            @apply mr-2;
        }
    }

    .wrapper_bar {
        @apply w-full flex-auto bg-system-dark_03 rounded-2xl;
    
        height: 10px;

        .bar {
            @apply rounded-2xl;

            background-color: #fff;
            height: 10px;
            width: 10px;
        }
    }
}


.map {
    path {
        box-shadow: 0 0 3px #000;
        cursor: pointer;
        fill: #fff;
        stroke: #383c41;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1px;

        &:hover,
        &.active {
            // box-sizing: content-box;
            fill: rgba(#9ed8db, 0.6);
            stroke: rgba(#9ed8db, 0.6);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 1px;
        }
        
    }
}
