@layer components {
    // button size & icon in text button
    .btn_xl {
        @apply radius_12 items-center flex flex-row gap-4 justify-center absolute;

        font-size: 18px;
        line-height: 28px;
        padding: 8px 20px 8px 24px;

        .text_icon {
            margin-left: 20px;
            width: 12px;
        }
    }

    .btn_l {
        @apply radius_8 items-center flex flex-row absolute justify-center gap-3;

        font-size: 16px;
        line-height: 24px;
        padding: 8px 16px 8px 20px;

        .text_icon {
            margin-left: 15px;
            width: 10px;
        }
    }

    .btn_m {
        @apply radius_8 items-center flex flex-row absolute justify-center gap-2;

        font-size: 14px;
        line-height: 16px;
        padding: 8px 12px 8px 16px;

        .text_icon {
            margin-left: 11px;
            width: 10px;
        }
    }

    .btn_s {
        @apply radius_6 items-center flex flex-row absolute justify-center gap-1;

        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px 4px 12px;

        .text_icon {
            margin-left: 6px;
            width: 7px;
        }
    }

    .icon {
        @apply radius_12 items-center flex flex-row gap-4 justify-center absolute;

        padding: 14px;
    }

    // button state
    .btn_normal {
        @apply bg-primary-main text-system-light_05;
    }

    .btn_focused {
        @apply bg-primary-lighter text-system-light_05;
    }

    .btn_pressed {
        @apply bg-primary-darker text-system-light_05;
    }

    .btn_disabled {
        @apply bg-system-dark_05 text-system-dark_06;
    }

}
