html {
    body {
        background-color: #1e1e1e;
    }

}

.division {
    @apply division_1;
}

ul.switch_button {
    li.false {
        @apply text-system-dark_04 bg-system-dark_02;
    }
}

ul.checkbox {
    .label_item {
        p {
            @apply text-system-light_01;
        }

        span {
            @apply bg-gray-50;
        }
      
    }

}

nav {
    @apply bg-system-dark_02;

    .nav_button.false {
        @apply text-system-dark_03;
    }
}


main {
    .scroll_main {
        .mode_switch {
            @apply bg-system-dark_02;
        }
    }
}

.title_h6 {
    @apply text-system-light_05;
}

.other_subtitle {
    @apply label_large text-system-dark_05;
}



.ul.switch_text,
ul.legends_row {
    li.legend_item {
        @apply text-system-light_01;
    }
}


.container_chart {
    @apply bg-system-dark_02;

    .top {
        .title {
            @apply text-system-light_01;
        }
    }


    .info {
        h1.percent {
            @apply text-system-light_05;
        }

        .text {
            p:first-child {
                @apply text-system-light_05;
            }

            p:last-child {
                @apply text-system-dark_04;
            }
        }
    }

    .container_bar {
        .bar_item {
            .progress {
                @apply bg-system-dark_03;
            }
        }
    }
}

.container_map {
    .city {
        .back {
            @apply  text-system-light_05 ;
        }
    }
}

.popup {
    .title_h5 {
        @apply text-system-light_05;
    }

    .title_h6 {
        @apply text-system-light_03;
    }

    span.name_color {
        @apply text-system-light_03;
    }
}



@media (max-width: 1024px) {
    nav {
        .container_nav {
            @apply bg-system-dark_02;

            li.nav_button {
                @apply text-system-light_03;
            }
        }

        .nav_button {
            color: #eef0f4 !important;
        }

        .nav_button.true {
            @apply bg-system-dark_03 ;

            
        }
    }
}
