// 勾勾
.gg-check {
    border: 2px solid transparent;
    border-radius: 100px;
    bottom: 3px;
    box-sizing: border-box;
    display: block;
    height: 22px;
    left: -3px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 22px;
}
   
.gg-check::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 10px;
    left: 3px;
    position: absolute;
    top: -1px;
    transform: rotate(45deg);
    transform-origin: bottom left;
    width: 6px
}

// 下載
.gg-software-download {
    border: 2px solid #8a93a1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 0;
    box-sizing: border-box;
    display: block;
    height: 6px;
    margin-top: 8px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 16px
}
   
.gg-software-download::after {
    border-bottom: 2px solid #8a93a1;
    border-left: 2px solid #8a93a1;
    bottom: 4px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 8px;
    left: 2px;
    position: absolute;
    transform: rotate(-45deg);
    width: 8px
}
   
.gg-software-download::before {
    background: #8a93a1;
    border-radius: 3px;
    bottom: 5px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 10px;
    left: 5px;
    position: absolute;
    width: 2px
}

// 圖表
.gg-chart {
    border-bottom: 2px solid #666e7a;
    border-left: 2px solid #666e7a;
    box-sizing: border-box;
    display: block;
    height: 10px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 10px
}
   
.gg-chart::after,
.gg-chart::before {
    border: 2px solid #666e7a;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute
}
   
.gg-chart::before {
    border-top-right-radius: 100px;
    height: 8px;
    right: -2px;
    top: -2px;
    width: 8px
}
   
.gg-chart::after {
    border-radius: 100px;
    border-right-color: transparent;
    height: 18px;
    left: -10px;
    transform: rotate(-45deg);
    width: 18px
}

// dashboard
.gg-voicemail-o {
    background:
        linear-gradient(to left, currentcolor 10px, transparent 0)
        no-repeat 5px 10px/8px 2px;
    border: 2px solid #666e7a;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;
    height: 22px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 22px
}
   
.gg-voicemail-o::after,
.gg-voicemail-o::before {
    border: 2px solid #666e7a;
    border-radius: 10px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    top: 6px;
    width: 6px
}
   
.gg-voicemail-o::before {
    left: 2px
}
   
.gg-voicemail-o::after {
    right: 2px
}

// 關閉
.gg-close {
    border: 2px solid transparent;
    border-radius: 40px;
    box-sizing: border-box;
    display: block;
    height: 22px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 22px
}
   
.gg-close::after,
.gg-close::before {
    background: #8a93a1;
    border-radius: 5px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 2px;
    left: 1px;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    width: 16px
}
   
.gg-close::after {
    transform: rotate(-45deg)
}


// info
.gg-info {
    border: 2px solid #8a93a1;
    border-radius: 40px;
    box-sizing: border-box;
    display: block;
    height: 20px;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px
}
   
.gg-info::after,
.gg-info::before {
    background: #8a93a1;
    border-radius: 3px;
    box-sizing: border-box;
    content: '';
    display: block;
    left: 7px;
    position: absolute;
    width: 2px
}
   
.gg-info::after {
    bottom: 2px;
    height: 8px
}
   
.gg-info::before {
    height: 2px;
    top: 2px
}

// menu
.gg-menu {
    transform: scale(var(--ggs, 1))
}
   
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    background: #d8dee7;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: 2px;
    position: relative;
    width: 20px
}
   
.gg-menu::after,
.gg-menu::before {
    content: '';
    position: absolute;
    top: -6px
}
   
.gg-menu::after {
    top: 6px
}




// menu light
.gg-menu_light {
    transform: scale(var(--ggs, 1))
}   

.gg-menu_light,
.gg-menu_light::after,
.gg-menu_light::before {
    background: #666e7a;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: 2px;
    position: relative;
    width: 20px
}
   
.gg-menu_light::after,
.gg-menu_light::before {
    content: '';
    position: absolute;
    top: -6px
}
   
.gg-menu_light::after {
    top: 6px
}

// moon
.gg-moon,
.gg-moon::after {
    border-radius: 50%;
    box-sizing: border-box;
    display: block
}

.gg-moon {
    border: 2px solid #fcfdfe;
    border-bottom-color: transparent;
    height: 20px;
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px
}

.gg-moon::after {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #fcfdfe;
    content: '';
    height: 18px;
    left: 2px;
    position: absolute;
    top: 8px;
    width: 12px
}
