@media (max-width: 1024px) { 
    .title_dropdown {
        .btn-group {
            @apply hidden;
        }
    }

    .mode_switch {
        @apply hidden;
    }

    nav {
        @apply  top-0 left-0 z-10 h-16;

        align-items: center !important;
        overflow: initial !important;
        position: fixed !important;
        width: 100% !important;

        .menu_tablet {
            @apply  absolute right-5;

            display: block !important;
        }


        .logo {
            @apply items-center h-full;

            top: 0 !important;
            width: 90px !important;

            hr {
                @apply hidden;
            }

            .logo_small {
                @apply hidden;
            }

            .logo_full {
                display: block !important;
            }
        }

        li.nav_button {
            @apply my-4;
        }


        li.nav_button.hidden_switch {
            display: flex;
        }
    }

    .container_nav {
        @apply transition-all relative -top-52 w-full flex;

        ul {
            width: 100% !important;
        }

        li.nav_button {
            @apply justify-center;

            // color: #eef0f4 !important;

            &::before {
                display: none !important;
            }

            .nav_content {
                @apply relative;
    
                .nav_icon {
                    @apply w-8;
                }

                p {
                    @apply ml-4;
                }
            }

            // img {
            //     @apply hidden;
            // }

            img.icon_mobile {
                // display: block !important;
            }
        }

    }

    main {
        @apply w-full relative top-16;

        height: calc(100vh - 64px);
    }

    .container_grid {
        @apply grid-cols-3;
    }

    .container_popup {
        .container_chain {
            @apply grid-cols-1;

            h6 {
                @apply text-center;
            }

            .bar_item {
                @apply items-start flex-col;

                .bar_info {
                    @apply w-full;

                    span {
                        @apply mb-2;
                    }
                }

                .progress {
                    height: 10px;
                }
            }
        }
    }


    .container_map {
        // @apply top-16;

        ul.checkbox {
            @apply order-1 mt-5;
        }
    
        .info {
            @apply order-2;
        }

        .title_dropdown {
            .btn-group {
                @apply opacity-0;
            }
        }
    
    }

    .container_chart {
        .chart {
            right: -20px;
            top: 10px;
        }

        ul.legends {
            li.legend_item {
                @apply whitespace-nowrap;

                font-size: 12px !important;
            }
        }
    }

}

@media (max-width: 780px) {
    .container_chart {
        .info {
            @apply h-28;
        }
    }

    .container_grid {
        @apply grid-cols-2;
    }
}

@media (max-width: 640px) {
    .tab_l {
        font-size: 15px;
    }

    .container_grid {
        @apply grid-cols-1;
    }

    .tabs_statisticsView {
        @apply w-screen relative -left-7;
    }

    .popup {
        @apply py-0 px-0;

        h5 {
            @apply body_16_bold;
        }
    }

    .container_popup {
        .container_chain {
            @apply mx-7;
        }
    }

    .container_map {
        height: calc(100vh - 60px);

        ul.switch_button {
            @apply flex-wrap;

            li {
                @apply my-1.5;
            }
        }

        .info {
            flex-direction: row !important;


            .city {
                @apply items-center justify-start;
            }

            .checkbox {
                @apply order-1;
            }

            .chart {
                @apply order-2;
            }

            button.back,
            .legends_row {
                @apply order-3;
            }
        }

        .map {
            @apply w-full h-full;
        }

        .map.color_area {
            @apply hidden;
        }
    }

    .title_dropdown {
        .btn-outline-primary {
            @apply opacity-0;
        }
    }
}

@media (max-width: 380px) {
    .container_chart {
        .container_bar {
            @apply h-32;
        }
    }
}

@media (max-width: 360px) {
    .tabs_statisticsView {
        li {
            @apply whitespace-nowrap;

            font-size: 12px;
        }
    }
}

