ul.tabs {
    @apply flex justify-center ;
}

ul.tabs_statistics {
    @apply flex my-6;

    li {
        font-size: 12px;
        line-height: 16px;
        padding: 4px 12px;
    }

    li.true {
        @apply text-system-light_05 rounded-xl bg-primary-main;
    }

    li.false {
        @apply text-system-dark_04;
    }
}
