/* stylelint-disable keyframes-name-pattern */
html {
    font-size: 16px;

    body {
        @apply overflow-hidden;

        background-color: #1e1e1e;
    }

}

.layout {
    @apply flex w-screen h-screen overflow-hidden ;


    nav {
        @apply transition-all relative flex flex-col justify-center items-start  overflow-hidden bg-system-dark_02;
        
        width: 72px;

        .logo {
            @apply absolute w-full top-0 flex justify-center transition-all;

            .logo_small,
            .logo_full {
                @apply  absolute  w-full my-4 h-14;

                // height: 60px;
            }

            .logo_full {
                @apply hidden;
            }

            hr {
                @apply absolute w-11/12 items-center;

                top: 70px;
            }
        }

        .menu_tablet {
            @apply hidden;
        }

        .container_nav {
            @apply justify-center cursor-pointer;
        }

        li.nav_button {
            @apply flex items-center transition-colors relative;

            box-sizing: border-box;

            .nav_content {
                @apply flex flex-row items-center;
            }

            .nav_icon {
                @apply relative flex justify-center items-center;

                height: 50px;
                width: 70px;

                .icon_mobile {
                    @apply hidden;
                }

                img {
                    @apply absolute;
                }
            }

            button {
                @apply subtitle_3 flex mr-6;

                width: 85px;
            }
        }

        li.hidden_switch {
            @apply hidden;
        }


        .nav_button.false {
            @apply text-system-dark_03;

            .nav_icon {
                img {
                    @apply transition-all z-0;
                }
            }
        }

        .nav_button.true {
            @apply text-primary-main;

            .nav_icon {
                img {
                    @apply transition-all z-10;
                }
            }
        }

        .nav_button.true::before {
            @apply absolute inline-block;

            border-left: 4px solid #055ffc;
            content: '';
            height: 45px;
        }

    }

    nav:hover {
        @apply w-52;

        .logo {
            .logo_small {
                @apply hidden;
            }

            .logo_full {
                @apply block h-10;
            }
        }
    }

    main {
        @apply w-full overflow-hidden;

        .scroll_main {
            @apply  p-7 overflow-y-scroll overflow-x-hidden h-full relative;

            .mode_switch {
                @apply absolute cursor-pointer right-8 p-2 bg-system-dark_02 radius_8 w-max h-auto;
            }
        }
    }
}


.container_grid {
    @apply grid grid-cols-4;
    
    gap: 0 30px;
}

.popup {
    @apply flex flex-col overflow-hidden p-7;

    .title_popup {
        @apply flex justify-between mb-10;
    }

    .chain_item {
        @apply mb-8;
    }

    .chain_item:last-child {
        @apply mb-0;
    }
}

.container_chain {
    @apply grid grid-cols-2;

    gap: 50px;

    h6 {
        @apply mb-4;
    }

    .bar_item {
        @apply mt-5;
    }

    .bar_info {
        @apply w-2/5;
    }
}

.tabs_statisticsView {
    @apply mb-5 tab_l;
}

.container_tab {
    @apply my-6;

    ul {
        @apply justify-start;
    }
}
    
ul.switch_button {
    @apply flex my-6;
    
    li {
        @apply cursor-pointer;
    
        font-size: 12px;
        line-height: 16px;
        padding: 4px 12px;
    }
    
    li.true {
        @apply text-system-light_05 rounded-xl bg-primary-main;
    }
    
    li.false {
        @apply text-system-dark_04;
    }
}

ul.legends {
    @apply flex-col;
}

ul.legends_row {
    @apply flex-row;
}

ul.switch_text,
ul.legends,
ul.legends_row {
    @apply flex text-sm;

    li {
        @apply mr-2 cursor-pointer;
    }

    li:last-child {
        @apply mr-0;
    }

    li.true {
        @apply text-primary-main;
    }

    li.false {
        @apply text-system-dark_04;
    }

    li.legend_item {
        @apply flex my-1 items-center text-system-light_01 font-medium text-sm cursor-default;

        .icon {
            @apply relative mr-2 p-0;

            background-color: #fff;
            height: 10px;
            width: 10px;
        }
    }
}

ul.checkbox {
    @apply flex justify-center self-center;

    .label_item {
        @apply mx-3;

        p {
            @apply text-system-light_01 tips ml-6;
        }

        label {
            @apply block relative cursor-pointer select-none;
        }
      
        label input {
            @apply cursor-pointer absolute opacity-0 w-0 h-0;
        }
      
        span {
            @apply absolute bg-gray-50 w-4 h-4;

            border-radius: 2px;
            left: 0;
            top: -2px;
        }
      
        label input:checked ~ span {
            background-color: #055ffc;
        }
    }

}

.other_subtitle {
    @apply label_large text-system-dark_05;
}

.info_icon {
    @apply relative;
}

.loader,
.loader::before,
.loader::after {
    animation: bblFadInOut 1.8s infinite ease-in-out;
    animation-fill-mode: both;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}

.loader {
    animation-delay: -0.16s;
    color: #fff;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    top: 0;
}

.loader::before {
    animation-delay: -0.32s;
    left: -3.5em;
}

.loader::after {
    left: 3.5em;
}
  
@keyframes bblFadInOut {
    0%,
    80%,
    100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
}
