html {
    font-size: 16px;

    body {
        @apply overflow-hidden;

        background-color: #1e1e1e;
    }

}

.layout {
    @apply flex w-screen h-screen overflow-hidden ;


    nav {
        @apply transition-all flex flex-col justify-center items-start  overflow-hidden bg-system-dark_02;
        
        width: 72px;
        // width: 210px;

        .container_nav {
            @apply justify-center cursor-pointer;
        }

        .nav_button {
            @apply flex items-center transition-colors;

            box-sizing: border-box;

            .nav_icon {
                @apply relative flex justify-center items-center;

                height: 50px;
                width: 70px;

                img {
                    @apply absolute;
                }
            }

            button {
                @apply subtitle_3 flex mr-6;

                width: 85px;
            }
        }


        .nav_button.false {
            @apply text-system-dark_03;

            .nav_icon {
                img {
                    @apply transition-all z-0;
                }
            }
        }

        .nav_button.true {
            @apply text-primary-main;

            .nav_icon {
                img {
                    @apply transition-all z-10;
                }
            }
        }

        .nav_button.true::before {
            @apply absolute inline-block;

            border-left: 4px solid #055ffc;
            content: '';
            height: 45px;
        }

    }

    main {
        @apply w-full overflow-hidden;

        .scroll_main {
            @apply  p-7 overflow-y-scroll  h-full;
        }
    }
}


.container_grid {
    @apply grid grid-cols-4;
    
    gap: 30px;
    
}

.popup {
    @apply flex flex-col overflow-hidden p-7;

    .title_popup {
        @apply flex justify-between mb-10;
    }

    .chain_item {
        @apply mb-8;
    }

    .chain_item:last-child {
        @apply mb-0;
    }
}

.container_chain {
    @apply grid grid-cols-2;

    gap: 50px;

    .bar_item {
        @apply mt-5;
    }

    .bar_info {
        @apply w-2/5;
    }
}

.tabs_statisticsView {
    @apply mb-5 tab_l;
}

.container_tab {
    @apply my-6;

    ul {
        @apply justify-start;
    }
}
    
ul.switch_button {
    @apply flex my-6;
    
    li {
        @apply cursor-pointer;
    
        font-size: 12px;
        line-height: 16px;
        padding: 4px 12px;
    }
    
    li.true {
        @apply text-system-light_05 rounded-xl bg-primary-main;
    }
    
    li.false {
        @apply text-system-dark_04;
    }
}

ul.legends {
    @apply flex-col;
}

ul.legends_row {
    @apply flex-row;
}

ul.switch_text,
ul.legends,
ul.legends_row {
    @apply flex text-sm;

    li {
        @apply mr-2 cursor-pointer;
    }

    li:last-child {
        @apply mr-0;
    }

    li.true {
        @apply text-primary-main;
    }

    li.false {
        @apply text-system-dark_04;
    }

    li.legend_item {
        @apply flex my-1 items-center text-system-light_01 font-medium text-sm cursor-default;

        .icon {
            @apply relative mr-2 p-0;

            background-color: #fff;
            height: 10px;
            width: 10px;
        }
    }
}

ul.checkbox {
    @apply flex justify-center self-center;

    .label_item {
        @apply mx-3;

        p {
            @apply text-system-light_01 tips ml-6;
        }

        label {
            @apply block relative cursor-pointer select-none;
        }
      
        label input {
            @apply cursor-pointer absolute opacity-0 w-0 h-0;
        }
      
        span {
            @apply absolute bg-gray-50 w-4 h-4;

            border-radius: 2px;
            left: 0;
            top: -2px;
        }
      
        label input:checked ~ span {
            background-color: #055ffc;
        }
    }

}

.other_subtitle {
    @apply label_large text-system-dark_05;
}

.info_icon {
    @apply relative;
}



// .info_icon::before {
//     @apply absolute transition-all opacity-0 max-w-max bg-system-dark_03 font-normal text-sm text-system-light_01 radius_8;

//     bottom: 25px;
//     content: '點擊查看詳細使用工具';
//     gap: 8px;
//     margin: 4px;
//     padding: 6px 8px;
//     right: 5%;
//     width: max-content;
// }

// .info_icon:hover {
//     &::before {
//         @apply transition-all opacity-95;
//     }

// }
